<div class="form-group">
            <label for="height">Height</label>
            <input type="text" id="height" class="form-control" aria-describedby="height"
              placeholder="height">
          </div>