
    
<div class="container">
        <div class="row">
            <div class="container col-sm-5 leaderboard">
                <h1>Leaderboard</h1>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 date">
                                <h5>1</h5>
                                <p>Place</p>
                            </div>
                            <div class="col-md-3"><img class="img-fluid photos" src="/images/john.jpg"></div>
                            <div class="col-md-4">
                                <h5>30 min HIIT Ride</h5>
                                <p class="card-text">John Someguy</p>
                            </div>
                            <div class="col-md-2">
                                <p class="card-text">150kj</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 date">
                                <h5>2</h5>
                                <p>Place</p>
                            </div>
                            <div class="col-md-3"><img class="img-fluid photos" src="/images/john.jpg"></div>
                            <div class="col-md-4">
                                <h5>30 min HIIT Ride</h5>
                                <p class="card-text">John Someguy</p>
                            </div>
                            <div class="col-md-2">
                                <p class="card-text">150kj</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 date">
                                <h5>3</h5>
                                <p>Place</p>
                            </div>
                            <div class="col-md-3"><img class="img-fluid photos" src="/images/john.jpg"></div>
                            <div class="col-md-4">
                                <h5>30 min HIIT Ride</h5>
                                <p class="card-text">John Someguy</p>
                            </div>
                            <div class="col-md-2">
                                <p class="card-text">150kj</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            </div>
            <div class="container col-sm-7 workout">
                    <div class="row workout-name">Biking</div>
                    <div class="row workout-name">20 min Pop Ride </div>
                    <div class="row"></div>

<div class="card-deck mt-2">
  <div class="card">
   <div class="card-body">
      <h5 class="card-title"> Leaderboard Rank</h5>
      <p class="card-text">You are currently ranked at #200</p>
     
    </div>
  </div>
  <div class="card">
   <div class="card-body">
      <h5 class="card-title">Earned Badges</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
     
    </div>
  </div>

</div>
  <div class="row mt-5">
    <div class="col-sm">Total Ouput</div>
    <div class="col-sm">Distance</div>
    <div class="col-sm">Calories</div>
  </div>
    <div class="row mt-5">
    <div class="col-sm">Avg Ouput</div>
    <div class="col-sm">Avg Cadence</div>
    <div class="col-sm">Avg Resistance</div>
    <div class="col-sm">Avg Speed</div>
  </div>

  <div class="card bg-light text-black mt-5">
     <img src="/images/biking.jpg" class="card-img" alt="Bike Ride">
    <h5 class="card-title">Output</h5>
    <p class="card-text">This is where we will put an image or a graph </p>
</div>
</div>
</div>
        </div>
</div>
            
   

