{{#each Users}}
<div class="container mb-4 animated slideInDown">
  <div class="row mt-3">
    <div class="col-sm-6 mr-auto text-left p-0">
      <h1><span id="total-workouts">197</span> Total Activities</h1>
    </div>
    <div class="col-sm-6 ml-auto text-right">
      <p>Welcome, <span id="user-name">{{name}}</span></p>
      <p id="userId" hidden>{{id}}</p>
      <p id="username" hidden>{{username}}</p>
    </div>
  </div>

  <div class="row d-flex justify-content-between mt-0">

    <div class="col-sm-2 mr-1 activity run text-center">
      <div class=""><i class="fa fa-running "></i></div>
      <h3 id="total-run">52</h3>
      <h4>Runs</h4>
    </div>
    <div class="col-sm-2 ml-1 mr-1 activity bike text-center">
      <div class=""><i class="fa fa-biking"></i></div>
      <h3 id="total-bike">99</h3>
      <h4>Bike</h4>

    </div>
    <div class="col-sm-2 ml-1 mr-1 activity swim text-center">
      <div class=""><i class="fa fa-swimmer"></i></div>
      <h3 id="total-swim">23</h3>
      <h4>Swim</h4>
    </div>
    <div class="col-sm-2 ml-1 activity hike text-center">
      <div class=""><i class="fal fa-hiking"></i></div>
      <h3 id="total-hike">23</h3>
      <h4>Hike</h4>
    </div>

  </div>
</div>


<div class="container animated zoomIn">
  <div class="row d-flex justify-content-between">
    <h1 class="col-sm-6 p-0">Activity History</h1>
    <div class="col-sm-4 text-right p-0">
      <button type="button" class="btn col-md-6 animated fadeIn" id="btn-add" data-toggle="modal"
        data-target="#addModal">Add Activity...</button>
    </div>
  </div>
</div>

<div class="container section mt-2 animated zoomIn">

  <div class="row mt-3">

  </div>
  <div class="row">
    <div class="col-md-3 d-flex flex column align-items-center p-0">

      <div class="row">
        <div class="col-sm-12 graph-donut">
          <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">
            <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#222"></circle>
            {{!-- <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4"
              stroke-width="4"></circle> --}}

            <circle class="donut-segment" id="segBike" cx="21" cy="21" r="15.91549430918954" fill="transparent"
              stroke="#709ba3" stroke-width="6" stroke-dasharray="20 80" stroke-dashoffset="85"></circle>
            <circle class="donut-segment" id="segSwim" cx="21" cy="21" r="15.91549430918954" fill="transparent"
              stroke="#8f577f" stroke-width="6" stroke-dasharray="30 70" stroke-dashoffset="65"></circle>
            <circle class="donut-segment" id="segHike" cx="21" cy="21" r="15.91549430918954" fill="transparent"
              stroke="#5f487e" stroke-width="6" stroke-dasharray="30 70" stroke-dashoffset="65"></circle>
            <circle class="donut-segment" id="segRun" cx="21" cy="21" r="15.91549430918954" fill="transparent"
              stroke="#c4aa3b" stroke-width="6" stroke-dasharray="40 60" stroke-dashoffset="25"></circle>
          </svg>
        </div>
      </div>

    </div>

    <div class="col-md-9">
      <div class="container graph-bar">
        
        <a href="#">
          <div class="row activity my-2 align-middle bars d-flex align-items-center" id="act0">
            <div class="col-sm-4 date">
              <h5 id="date0">11/1</h5>
            </div>
            <div class="col-sm-3 icon d-flex align-items-center ml-auto">
              <i class="fal icon ml-auto" id="i0"></i>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="row activity my-2 bars d-flex align-items-center" id="act1">
            <div class="col-sm-4 date">
              <h5 id="date1">11/1</h5>
            </div>
            <div class="col-sm-3 icon d-flex align-items-center ml-auto">
              <i class="fal icon ml-auto" id="i1"></i>
            </div>
          </div>

        </a>

        <a href="#">
          <div class="row activity my-2 bars d-flex align-items-center" id="act2">
            <div class="col-sm-4 date">
              <h5 id="date2">11/1</h5>
            </div>
            <div class="col-sm-3 icon d-flex align-items-center ml-auto">
              <i class="fal icon ml-auto" id="i2"></i>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="row activity my-2 bars d-flex align-items-center" id="act3">
            <div class="col-sm-4 date">
              <h5 id="date3">11/1</h5>
            </div>
            <div class="col-sm-3 icon d-flex align-items-center ml-auto">
              <i class="fal icon ml-auto" id="i3"></i>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="row activity my-2 bars d-flex align-items-center mb-4" id="act4">
            <div class="col-sm-3 date">
              <h5 id="date4">11/1</h5>
            </div>
            <div class="col-sm-3 icon d-flex align-items-center ml-auto">
              <i class="fal icon ml-auto" id="i4"></i>
            </div>
          </div>
        </a>
        
      </div>

    </div>
  </div>
</div>

<div class="container mb-4 animated slideInUp">
  <div class="row mt-3">
    <h1>Achievements</h1>
  </div>
  <div class="row d-flex mt-0 section ">

    <div class="mr-2 ml-2 mt-4 achievement-gained text-center">
      <img class="img-fluid" src="/images/icon_weigh_in.png">
      <p>Weigh In</hp>
    </div>
    <div class="mr-2 ml-2 mt-4 achievement-gained text-center">
      <img class="img-fluid" src="/images/icon_early_riser.png">
      <p>Early Riser</p>
    </div>
    <div class="mr-2 ml-2 mt-4 achievement-gained text-center">
      <img class="img-fluid" src="/images/icon_first_mile.png">
      <p>1st Mile</p>
    </div>
    <div class="mr-2 ml-2 mt-4 achievement-gained text-center">
      <img class="img-fluid" src="/images/icon_on_fire.png">
      <p>On Fire</p>
    </div>
    <div class="mr-2 ml-2 mt-4 achievement-gained text-center">
      <img class="img-fluid" src="/images/icon_40k.png">
      <p>40K</p>
    </div>
    <div class="mr-2 ml-2 mt-4 achievement-gained text-center">
      <img class="img-fluid" src="/images/icon_marathon.png">
      <p>Marathon</p>
    </div>
    <div class="mr-2 ml-2 mt-4 achievement-gained text-center">
      <img class="img-fluid" src="/images/icon_50k.png">
      <p>50k</p>
    </div>
    <div class="mr-2 ml-2 mt-4 achievement-gained text-center">
      <img class="img-fluid" src="/images/icon_100_miles.png">
      <p>100 Mile Ride</p>
    </div>
    <div class="mr-2 ml-2 mt-4 achievement-gained text-center">
      <img class="img-fluid" src="/images/icon_200_miles.png">
      <p>200 Mile Ride</p>
    </div>

  </div>
</div>

{{!-- Add Activity Modal --}}
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addActivityModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addActivityModalLabel">Add Activity</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="clearfix mb-4" action="POST">

          <label for="activitySelect">Select an Activity</label>
          <select class="form-control mb-3" id="activitySelect">
            <option>Running</option>
            <option>Biking</option>
            <option>Swimming</option>
            <option>Hiking</option>
          </select>
          <label for="Date">Date:</label>
          <input placeholder="Post Body" type="date" class="form-control mb-3" id="date"></input>
          <label for="Distance">Distance:</label>
          <input placeholder="Distance" type="text" class="form-control mb-3" id="distance"></input>

          <button type="button" class="btn btn-primary mt-4" id="submitActivity">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}