<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Heebo', sans-serif;
    color: white;
  }

  body {
    background-color: #333;
  }
</style>


<div class="row w3-margin-bottom">
  <div class="col-md-3 text-center">
    <div class="container w3-metro-purple w3-text-white w3-padding-16">
      <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>52</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Runs</h4>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="container w3-metro-orange w3-padding-16">
      <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>99</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Bike</h4>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="container w3-flat-pomegranate w3-text-white w3-padding-16">
      <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>23</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Swim</h4>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="container w3-orange w3-text-white w3-padding-16">
      <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>50</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Row</h4>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
      
    </div>
  </div>
</div>

<div class="container">
  <h5>General Stats</h5>
  <p>New Achievements</p>
  <div class="w3-grey">
    <div class="container w3-center w3-padding w3-green" style="width:25%">+25%</div>
  </div>

  <p>New Times</p>
  <div class="w3-grey">
    <div class="container w3-center w3-padding w3-orange" style="width:50%">50%</div>
  </div>

  <p>New Distance</p>
  <div class="w3-grey">
    <div class="container w3-center w3-padding w3-red" style="width:75%">75%</div>
  </div>
</div>
<hr>

<hr>

<br>



<!-- End page content -->
</div>