

#home {
  background-color: #222;
  background-image: url(../images/logo_hustle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
 .workout-name{
   margin-left: 2px;
 }

body {
  background-color: #111;
  color: white;
}

.section {
  background-color: #222;
  border-radius: .5em;
  border: 2px solid #333;
}

.card { 
  color: black;
}

.photos {
  border-radius: 50%;
}

.bike{
  background-color: #709ba3;
}

.run{
  background-color: #c4aa3b;
}

.swim{
  background-color: #8f577f;
}

.hike{
  background-color: #5f487e;
}

p, h5 {
  margin-bottom: 0;
  padding: 0.25em;
}

.modal-title {
  font-family: 'Heebo', sans-serif;
}

.list-group-item {
  line-height: 2.5;
}

.btn {
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid white;
  font-size: 1.25;
}

.activity{
  /* background-color: darkred; */
  border-radius: .5em;
  color: white;
}

.icon {
  font-size: 1.5em;
}

#btn-login {
  background-color: #709ba3;
  color: white;
}

#btn-new-user {
  background-color: #8f577f;
  color: white;
}

#btn-login:hover, #btn-new-user:hover {
  background-color: #c4aa3b;
  color: black;
}

#submit, #login {
  width: 10em;
}


.achievement-gained{
  width: 5em;
}

.achievement{
  width: 5em;
  -webkit-filter: opacity(.1);
  filter: opacity(.1);

}

.modal, .modal-header, .modal-body{
  background-color: #222;
  border: 2px solid #555;
}




