* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

#home {
  background-color: #333;
  background-image: url(../images/logo_hustle.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
 .workout-name{
   margin-left: 2px;
 }

body {
  background-color: #333;
  color: white;
}

.card { 
  color: black;
}

.photos {
  border-radius: 50%;
}

#total-bike{
  background-color: #709ba3;
}

#total-run{
  background-color: #c4aa3b;
}

#total-swim{
  background-color: #8f577f;
}

#total-row{
  background-color: #5f487e;
}

p, h5 {
  margin-bottom: 0;
  padding: 0.25em;
}

.modal-title {
  font-family: 'Heebo', sans-serif;
}

.list-group-item {
  line-height: 2.5;
}

.btn {
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid white;
  font-size: 1.25;
}

.activity{
  background-color: darkred;
  border-radius: .5em;
  color: white;
}

.icon {
  font-size: 1.5em;
}

#btn-login {
  background-color: #709ba3;
  color: white;
}

#btn-new-user {
  background-color: #8f577f;
  color: white;
}

#btn-login:hover, #btn-new-user:hover {
  background-color: #c4aa3b;
  color: black;
}

#submit, #login {
  width: 10em;
}


.chart-text {
  font-size: 0.5em;
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-text2 {
  font-size: 0.5em;
  fill: #000;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}



